.wrapper {
    margin: 0 10px;
    padding-bottom: 10px;
}

.list {
    display: inline-block;
    position: absolute;
    padding-top: 1vw;
    padding-left: 1vw;
    color: black;
    margin-top: 10px;
}

.element {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
}
